nav {
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3em;
  margin: 40px;
  display: inline-block;
  text-align: center;
}

h1{
    text-align: center;
}

p{
    font-family: 'Courier New', Courier, monospace;
}
